/* * {
  border: 1px solid gold;
} */
body {
  margin-top: 17%;
  /* margin-bottom:%; */
}
.container > .gloveImg{
width: 28%;
border-radius: 50%;
margin-left: 1%;
padding: 1%;
transition-duration: 5s;
/* transform: translate(0); */
}
/* .gloveImg:hover {
  display: none;
} */
